*{
    border:1px solid purple;
}
/* NAV */
ul{
    list-style: none;
    padding: 10px;
    text-align: center;
}

li{
    display: inline;
    margin: 1em;
}

/* Input box */

.fillbox{
    margin: auto;
    border: 1px solid green;
    width:50%;
    text-align: center;
}

.input{
    display: inline-block;
}
label, select, input{
    text-align: left;
    display:block;
    margin: 10px;
}

/* Header */
header{
    margin: auto;
    display: flex;
    background-color: aquamarine;
}
h1{
    margin: auto;
    width: 50%;
    padding:1em;
    text-align: center;
    font-size: 5em;
}
/*SECTION */
.fillingtitle{
    text-align: center;
    border-top: 7px solid red;
}
section{
    display:flex;
    width:100%;
    margin: 3em;
}
section>div{
    flex-grow:1;
}
img{
    margin: 2em;
    width:400px;
    height: 400px;
}
/*Footer tag */
footer{
    margin: 15px;
    text-align: justify;
}
/*Supposed mobile view */
@media (min-width:600px){
    
}