*{
    border:1px solid purple;
}
ul{
    list-style: none;
    padding: 10px;
    text-align: center;
}
label, select, input{
    text-align: left;
    display:block;
    margin: 10px;
}
li{
    display: inline;
    margin: 1em;
}
header>h1{
    text-align: center;
    font-size: 5em;
}
.fillbox{
    margin: auto;
    border: 1px solid green;
    width:50%;
    text-align: center;
}
section{
    width:100%;
    display:flex;
    margin: 3em;
}
section>div{
    flex-grow:1;
}
img{
    margin: 2em;
    width:400px;
    height: 400px;
}
.fillingtitle{
    text-align: center;
}
footer{
    margin: 15px;
    text-align: justify;
}
@media (min-width:600px){
    
}